<% provide(:title, "Saxophone Scales") %>
<div class="container-fluid cover" id="cover">

	<h3 class="text_h2" style="margin-top: -20px"><%= link_to "All Sax Notes", sax_notes_path, class: 'btn btn-lg btn-success', style: "padding: 20px; z-index: -10; border: 1px black dashed; color: black" %></h3>

	<h2 class="text_h2" >Alto Saxophone Fingering Scales</h2>

	<div class="drop-cover">
		


		<%= form_tag(notations_path, method: :get) do %>
			<%= select_tag :start_note, options_for_select(@all_notes, params[:start_note]), :class => "dropdown-toogle btn btn-lg scale_btn" %>
			<%= select_tag :scale_value, options_for_select(@all_scales, params[:scale_value]), :class => "dropdown-toogle btn btn-lg scale_btn" %>
			<%#= select_tag :scale_value, opions_from_collection_for_select(Scale.all, "id", "name", :scale_value), {:include_blank => "select scale"} %>
			<%#= text_field_tag :start_note, params[:start_note] %>
			<%= submit_tag 'View Scale', name: nil, id: "scale_button", class: 'btn btn-primary btn-lg' %>
			
		<% end %>




		<h2 class="scale_name" style="font-size: 1.6em"> <%= @get_start_note.to_s + " " + @get_scale_value.to_s + " Scale"  %> & Piano: <%= @pianoscale %></h2>

		<%# @main_scale.each do |ms| %>
			<%#= ms %>
		<%# end %>
	</div>


	<hr>
	<div class="sax-note">
		<% @main_scale.each do |ms| %>
			<div class="notation">
				<% SaxNote.where("note = ? ", "#{ms}").find_each do |f| %>
					<% if  !(f.note == nil) %>
						<div class="text_h2 note-cover">
							<button class="btn btn-inverse note"> <%= label_tag f.note %> </button> 
						</div>
						<%#= image_tag f.note_image.url %>
						<%= image_tag f.drive_image %>
				<% end %>
					<%#= label_tag f.note, nil,  class: "scale_name" %>
			<% end %>
			</div>
		<% end %>
	</div>


	<%# mn = "efd" %>
	<%# n = mn.split("") %>
	<%# if n.count > 1 %>
		<%#= mn %>
	<%# end %>


	<%# SaxNote.all.each do |sax| %>
		<%# if sax.note.eql?sax %>
			<%#= image_tag sax.note_image.url %> 
		<%# end %>
	<%# end %>

	<%# ms = [2,2,1,2,2,2,1] %>
		<%#  bs  = ms + ms + ms %>
	<%#= bs %>

	<%# Scale.where("name LIKE ? ", "%major%").find_each do |d| %>
		<%#= d.value %>
	<%# end %>

	<%#= main = Scale.where("name LIKE ? ", "%major%").take!.value.split(",").map{|v| v.to_i} %>
	<%# nm = main.value.split(",").map{|v| v.to_i} %>
	<%# main.each do |ms| %>
		<%#= ms %>
	<%# end %>
</div>



