<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <%= bootstrap_form_for(piano_scale) do |f| %>
        <% if piano_scale.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(piano_scale.errors.count, "error") %> prohibited this piano_scale from being saved:</h2>

            <ul>
            <% piano_scale.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.text_field :interval %>
        </div>

        <div class="actions col-sm-offset-4 col-md-8">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
