<button class="btn btn-primary toggle_btn"> Toggle Navigation <span class="glyphicon glyphicon-menu-down"></span> </button>
<div class="container-fluid cover" id="cover">



<div class="drop-cover nav_toggle">

	<h2 class="text_h2">Piano Scales</h2>

	<%= form_tag(piano_scales_path, method: :get) do %>
		<%= select_tag :start_note, options_for_select(@all_notes, params[:start_note]), :class => "dropdown-toogle btn-lg scale_btn" %>
		<%= select_tag :scale_value, options_for_select(@all_scales, params[:scale_value]), :class => "dropdown-toogle btn-lg scale_btn" %>
		<%#= select_tag :scale_value, opions_from_collection_for_select(Scale.all, "id", "name", :scale_value), {:include_blank => "select scale"} %>
		<%#= text_field_tag :start_note, params[:start_note] %>
		<%= submit_tag 'View Scale', name: nil, id: "scale_button", class: 'btn btn-primary btn-lg' %>
		
	<% end %>


	<hr>

	<!-- Print Out Values-->

</div>

<div class="drop-cover">
	<h3 class="scale_name"> <%= @main_scale[0].to_s + " " + @get_scale_value.to_s + " Scale"  %></h3>
</div>
<hr>
<div class="piano-cover">
	<ul class="piano">
		<% previous = "" %>
		<% point = 0%>
			
		<% @piano_notes.find_each do |piano| %>
			<% ms = @main_scale[point] %>
			
			<% if ms == piano.note %>
				<% point += 1%>
		    

		    <% if piano.key == "white" %>
		      <% if previous == "white" %>
		        <li>
		          <div class="transparent-key"></div>
		        </li>
		        <li>
		          <div class="white-key" style="background-color: green"> 
		            <span class="letter-white"><%= piano.note %></span> 
		          </div>
		        </li>
		      <% else %>
		        <li>
		          <div class="white-key" style="background-color: green"> 
		            <span class="letter-white"><%= piano.note %></span> 
		          </div>
		        </li>
		      <% end %>


		      <% previous = piano.key %>


		    <% else %>
		          <li>
		            <div class="black-key" style="background-color: green"> 
		              <span class="letter-black"><%= piano.note %></span> 
		            </div>
		          </li>

		          <% previous = piano.key %>

		    <% end %>


			<% else %>
		    <% if piano.key == "white" %>
		      <% if previous == "white" %>
		        <li>
		          <div class="transparent-key"></div>
		        </li>
		        <li>
		          <div class="white-key"> 
		            <span class="letter-white"><%= piano.note %></span> 
		          </div>
		        </li>
		      <% else %>
		        <li>
		          <div class="white-key"> 
		            <span class="letter-white"><%= piano.note %></span> 
		          </div>
		        </li>
		      <% end %>


		      <% previous = piano.key %>


		    <% else %>
		          <li>
		            <div class="black-key"> 
		              <span class="letter-black"><%= piano.note %></span> 
		            </div>
		          </li>

		          <% previous = piano.key %>

		    <% end %>


		    <%# if point > 2 && @main_scale[point] == @main_scale[-1] %>
		    	<%# break %>
		    <%# end %>
			<% end %>


		<% end %>

</div>

<%# @main_scale.each do |p| %>
	<%#= p %>
<%# end %>

</ul>
<br>
<br>
<br>
<!-- <br>
<br>
<br> -->
<hr>

<% if logged_in? %>
   	<% if current_user.admin? %>
		<%= link_to 'New Piano Scale', new_piano_scale_path, class: "btn btn-primary btn-md" %>
		<hr>
		<table class="table table-striped table-hover">
			<thead>
			  <tr>
			    <th>Name</th>
			    <th>Interval</th>
			    <th colspan="3"></th>
			  </tr>
			</thead>

			<tbody>
			  <% @piano_scales.each do |piano_scale| %>
			    <tr>
			      <td><%= piano_scale.name %></td>
			      <td><%= piano_scale.interval %></td>
			      <td><%= link_to 'Show', piano_scale, class: "btn btn-default btn-xs" %></td>
			      <td><%= link_to 'Edit', edit_piano_scale_path(piano_scale), class: "btn btn-primary btn-xs" %></td>
			      <td><%= link_to 'Destroy', piano_scale, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
	<% end %>
<% end %>

  <br>