<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piano_scale.name %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @piano_scale.interval %>
</p>

<%= link_to 'Edit', edit_piano_scale_path(@piano_scale) %> |
<%= link_to 'Back', piano_scales_path %>
