
<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  </head>

  <body>
  	<%#= render 'layouts/header1' %>
    <%#= render 'layouts/header_blue' %>
    <%#= render 'layouts/header_nightsky' %>
    <% if full_title(yield(:title)) != "SFMUSIC | Learn Saxophone and Piano" %>
      <%= render 'layouts/menu' %>
    <% end %>
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
         <div class="alert alert-<%= message_type %>" id="notice"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
    <div class="above-footer"></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
